*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}
.nav-link:hover{
    opacity: .7 ;
    color: blue;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.container-fluid{
    box-shadow: 2px 2px 1000px rgb(184, 184, 184); 
}
.navbar{
    width: 100vw;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
.html-section{
    display: none;
}
.css-section{
    display: none;
}
.js-section{
    display: none;
}
.description-section{
    display: none;
}
#contact-section {
    margin-top: 0px;
}
#about-section{
    display: none;
}
#projects-section{
    display: none;
}
#home-section{
    display: block;
}
#nav-home-btn{
    display: none;
}
#about-btn , #navLogo , #mcq-btn{
cursor: pointer;
}
footer{
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    margin-top: 260px;
}
.Quiz-btns{
    background-color: #000;
    padding: 20px !important;
}
.quiz-card {
      max-width: 700px;
}
ra{
    cursor: pointer ;
}